body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: black;
    margin:auto
}
#div1{
    padding-bottom:20px;
}
.logo {
    float: left;
    width:20%;
    padding:80px;
}
nav ul li  {
    display: inline-block;
    padding: 30px;
    padding-top: 120px;
    color: black;   
}
#div2{
  padding:80px;
  clear: both;
  padding-bottom:20px;
  padding-top: 5px;
    
}
#img{
    width:89%;
}
#div3{
   clear: both;
   margin-right: 20px;
   padding: 80px;
   padding-bottom: 20px;

}
.banner{
    width:30%;
}
#div4{
    width: 75%;
    margin:30px;
    padding: 70px;
    padding-bottom:20px;
}

#div4 .text-img{
    width: 50%;
    height: 480px;
    float: left;
    padding-bottom: 30px;
    
}
.text {
    margin:20px;
}
#div4 .text {
    width: 40%;
    float: right;
    padding-right: 5px;
}
h2{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
p {
    font-size: 15px;
    text-align: justify;
    overflow: scroll;
    margin-bottom: 20px;
}
button {
    font-size: 20px;
    font-weight: bold;
    background-color: #ddd;
}

footer {
    clear: both;
    padding: 50px;
    background-color: #ddd;
    margin-left: 80px;
    margin-right: 100px;
    
}